{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
<h1 class="text-center p-5"> Modifier votre mot de passe </h1>

<hr>
{% if notification %}
<div class="alert alert-info">{{ notification }} </div>
{% endif %}
{{ form(form) }}
<a href="{{ path('app_account')}}" class="btn btn-danger btn-sm">Retour</a><br>
<hr>
{% endblock %}
