:root {
  /* --white-color: rgb(0,14,84);
    --white-linear: linear-gradient(90deg, rgba(0,14,84,0.8547794117647058) 0%, rgba(0,14,84,1) 45%, rgba(0,14,84,1) 55%, rgba(0,14,84,0.8547794117647058) 100%); */
  --white-color: rgb(158,151,133);;
  --white-linear: linear-gradient(90deg, rgba(57,30,29,0.9108018207282913) 0%, rgba(158,151,133,1) 50%, rgba(57,30,29,0.896796218487395) 100%);;
  --white-font-title: rgb(0, 14, 84);
  --white-font: rgb(57,30,9,0.9);
  --white-text: rgb(255, 255, 255);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--white-font-title);
  font-size: 1.2rem;
}

a {
  text-decoration: none !important;
}

body {
  background: var(--white-color) ;
  background: var(--white-linear);
  color: var(--white-text) ;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.marginBlock{
  margin-left: 15%;
  margin-right: 15%;
}
.logo1 {
  width: 60px;
  height: 60px;
  z-index: 300;
  top: 2%;
}
h1 {
  font-size: 3rem;
  text-shadow: 2px 3px 2px rgb(0, 14, 84);
}

.footer-custom {
  text-align: center;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(57,30,29);
  background: linear-gradient(200deg, rgba(57,30,29,1) 0%, rgba(105,88,79,1) 25%, rgba(57,30,29,1) 50%, rgba(105,88,79,1) 75%, rgba(57,30,29,1) 100%);
  box-shadow: inset 0px -1px 0px #c5c5c6;
  bottom: 0;
  position: relative;
}

footer a{
  color: var(--white-color);
}
footer a:hover {
  color: rgb(196, 188, 35);
}


.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item {
  margin-top: 15px;
}

.product-item img {
  width: 15vw;
  object-fit: cover;
}
.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-price {
  font-size: 15px;
  font-weight: bold;
  display: block;
}
.smallCircle {
  width: 150px !important; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #ccc; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}
/* Gallery start */

.cont-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 10px 9px;
  justify-content: center;
  text-align: center;
}
.gallery-item {
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item img {
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.video-container {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 5px;
 
}
video {
  width: 100%;
  height: auto;
}
.team-picture {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .cont-gallery {
    grid-template-columns: 1fr ;
    margin: auto;
  }
}
@media screen and (max-width: 1000px) {
  .team-picture {
    width: 100%;

    margin: auto;
  }
}

/* GALERIE FIN */

/* reseaux sociaux  */

.social-btn {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 5px;
  position: relative;
  transition: left 1s;
}
.social-btn:hover {
  left: -10px;
  transition: left 1s;
}

.social {
  position: fixed;
  top: 50%;
  left: 0%;
}
.social a {
  text-decoration: none;
}

.color-facebook {
  background-color: #0084c6;
}
.color-instagram {
  background-color: #f62782;
}
.color-whatsapp {
  background-color: #24cc63;
}

.social-btn img {
  width: 40px;
}


.cardgallery {
  margin: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardgallery img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.imgProduct{
  width: 500px;
  height: 500px; 
  object-fit: contain;
}
.imgSmallProduct{
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.singleProd{
  width: 350px;
  height: 350px;
  background-color: red;
  object-fit: cover;
}
/* rajout */

.productBlock {
  /* background-color: #0084c6; */
  border-radius: 1%;
}


/* NEW NAVBAR */

.nav {
  top: 0;
  width: 100%;
  position: sticky ;
  align-items: center;
  padding: 15px 25px;
  box-shadow: inset 0px -1px 0px #c5c5c6;
  background: rgb(57,30,29);
  background: linear-gradient(200deg, rgba(57,30,29,1) 0%, rgba(105,88,79,1) 25%, rgba(57,30,29,1) 50%, rgba(105,88,79,1) 75%, rgba(57,30,29,1) 100%);
  z-index: 200;
}

.nav a {
  color: white;
}
.nav a:hover {
  color: rgb(196, 188, 35);
}
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navi-icon span {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}
.nav-icon img {
  width: 60px ;
  transform: rotate(-35deg) translateX(5px);
}
.hamburger {
  display: none;
}
.navlinks-container a, .sign-btns a  {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.navlinks-container a:after, .sign-btns a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgb(196, 188, 35);
  transition: transform 0.5s ease-out;
}
.navlinks-container a:hover::after, .sign-btns a:hover:after  {
  transform: scaleX(1);
}
.nav-authentification {
  margin-left: auto;
}
.hamburger:focus {
  outline: none;
  box-shadow: none;
}


@media (max-width: 1000px) {
  .nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }
  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }

  .hamburger{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: transparent;
    align-items: center;
    position: relative;
    margin-left: 15px;
  }
  .hamburger span{
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  
  .hamburger span:nth-child(1),.hamburger span:nth-child(1) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1){
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3){
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1){
    transform: translate(0) rotate(135deg);
    transition: opacity 0s ease-out;

  }
  .hamburger.open span:nth-child(2){
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3){
    transform: translate(0) rotate(-135deg);
    transition: opacity 0s ease-out;

  }
  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top:100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
    transition: transform 0.3s ease-out;

  }
  .navlinks-container a{
 color: rgb(0, 14, 84);
  }   
  .open{
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0;
  }

  .nav-authentification {
    order: 3;
  }
  .imgProduct{
    width: 250px;
    height: 250px; 
    object-fit: contain;
  }

  .nav-icon img{
width: 40px;
  }
  .nav-icon span {
    font-size: 20px;
  }
  .social-btn {
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .social-btn img {
    width: 30px;
  }
}

@media (max-width: 700px) {

  .imgSmallProduct{
    width: 100px ;
    height: 100px;
    object-fit: contain;
  }
  }
@media (max-width: 450px) {

.sign-btns a{
  font-size: 0.7rem;
}
.imgSmallProduct{
  width: 100px ;
  height: 100px;
  object-fit: contain;
}
}

.imgComment img{
  width: 100px ;
  height: 100px;
  object-fit: contain;
}
.slider{
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 50px auto;
}
.slides{
  width: calc(300px * 5);
  animation: slide 15s infinite;
}
.slides:after {
  content: "";
  display: table;
  clear: both;
}
.slideSmall img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.slideSmall{
  float:left;
}
@keyframes slide{
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-300px);
  }
  30%{
    transform: translateX(-300px);
  }
  40%{
    transform: translateX(-600px);
  }
  50%{
    transform: translateX(-600px);
  }
  60%{
    transform: translateX(-900px);
  }
  70%{
    transform: translateX(-900px);
  }
  80%{
    transform: translateX(-1200px);
  }
  90%{
    transform: translateX(-1200px);
  }
  100%{
    transform: translateX(0);
  }

}

.error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-weight: 900;
}
