{% extends 'base.html.twig' %}

{% block title %}Nos produits
{% endblock %}

{% block content %}
	<div class="row">
		<h1 class="col-md-12 text-center mt-5 mb-3">Nos Cafés</h1>
		<h3 class="col-md-12 text-center">Variété Bourbon Rose</h3>
		<p class="col-md-12 text-center"><br>Cette variété d’arabica est connue dans le monde entier et est extrêmement appréciée.<br><br>
			Le café Bourbon est une mutation naturelle de «Typica» , qui est l’une des variétés les plus anciennes. Néanmoins, elle demeure fragile : au vu de sa faible résistance aux maladies et aux parasites, elle demande beaucoup de soins.<br><br>
			Le Bourbon rose (« Borbon Rosado ») résulte d’un croisement de bourbon rouge et de bourbon jaune. Il se distingue de la couleur rose vive lorsque ses cerises sont mûres.<br><br>
			Fruité, complexe avec un grand corps et une belle acidité, il est réputé pour être doux, avec des saveurs caramélisées.
			L’expérience de la dégustation vous promet une texture soyeuse et élégante, réveillant de subtiles notes florales.</p>
		<div class="col-md-3">
			<h1 class="mt-5 mb-5 text-center">Filtrer</h1>
			{{ form(form) }}
		</div>

			<div class="col-md-9">
				<h1 class='mt-5 text-center mb-5'>Nos Produits
				</h1>
				<div class="row">
					{% for product in products %}
						<div class="col-md-4">
							{% include 'product/single_product.html.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
	</div>
		<hr>

	{% endblock %}
