{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block content %}
<h1 class="text-center p-5">GALERIE PHOTO</h1>

<div class="container cont-gallery" id="gallery">

    <div class="gallery">
        <ul class="gallery-item">
            {% for image in images %}    
                <li>
                    <img src="/uploads/{{ image.image }}" class="mb-2" alt="Image Gallerie photo">
                </li>
            {% endfor %} 
        </ul>           
    </div>

    <div class="gallery">
        <ul class="gallery-item">
            {% for image in images %}    
                <li>
                    <img src="/uploads/{{ image.image2 }}" class="mb-2" alt="Image Gallerie photo">
                </li>
            {% endfor %} 
        </ul>       
    </div>

    <div class="gallery">
        <ul class="gallery-item">
            {% for image in images %}    
                <li>
                    <img src="/uploads/{{ image.image3 }}" class="mb-2" alt="Image Gallerie photo">
                </li>
            {% endfor %} 
        </ul>  
    </div>

</div>

{% endblock %}

