<footer class="footer-custom mt-5">
	<div class="mr-5">&copy; 2022-2023 El cafexito
	</div>
	<a href="#" class="mr-5 text-light">mentions légales</a>
</small>
<a href="#" class="float-right ml-5 text-light">Haut de page</a></footer>
