<div class="social">
<a href="https://www.facebook.com/ElCafexito?locale=fr_FR" rel="noopener" target="_blank">
    <div class="social-btn color-facebook">
      <img src="{{ asset('assets/images/facebook.png') }}" alt="facebook">
    </div>
  </a>
  <a href="https://www.instagram.com/elcafexito/?fbclid=IwAR3lmtCWn4U89lT4ojJttfbozDCBZV1FJtMnR4wslbPaaUrO5hGMu1jh56E" rel="noopener" target="_blank">
    <div class="social-btn color-instagram">
      <img src="{{ asset('assets/images/insta.png') }}" alt="instagram">
    </div>
  </a>
  <a href="#">
    <div class="social-btn color-whatsapp">
      <img src="{{ asset('assets/images/whatsapp.png') }}" alt="whatsApp">
    </div>
  </a>
</div>
