{% extends 'base.html.twig' %}

{% block title %}Erreur interne du serveur{% endblock %}

{% block content %}
<div class="error">
<p>Il semble y avoir un problème : </p>
<h1 class="m-3">Erreur 500</h1>
<p>Le serveur a rencontré une erreur interne ou une mauvaise configuration et n'a pas pu terminer votre demande.</p>
</div>
{% endblock %}