{% extends 'base.html.twig' %}

{% block title %} Accès interdit{% endblock %}

{% block content %}
<div class="error">
<p>Oups il semble y avoir un problème : </p>
<h1 class="m-3">Erreur 403</h1>
<p>Vous n'avez pas la permission d'accéder à la ressource demandée.</p>
</div>
{% endblock %}