{% extends 'base.html.twig' %}

{% block title %}Non autorisé{% endblock %}

{% block content %}
<div class="error">
<p>Il semble y avoir un problème : </p>
<h1 class="m-3">Erreur 401</h1>
<p>L'accès à la ressource demandée nécessite une authentification.</p>
</div>
{% endblock %}