{% extends 'base.html.twig' %}

{% block title %}Requête incorrecte{% endblock %}

{% block content %}
<div class="error">
<p>Oups il semble y avoir un problème : </p>
<h1 class="m-3">Erreur 400</h1>
<p>Le serveur n'a pas pu comprendre la requête envoyée par le navigateur.</p>
</div>
{% endblock %}