{% extends 'base.html.twig' %}

{% block title %}Délai d'attente de la passerelle{% endblock %}

{% block content %}
<div class="error">
<p>Il semble y avoir un problème : </p>
<h1 class="m-3">Erreur 504</h1>
<p>Le serveur, tout en agissant en tant que passerelle ou proxy, n'a pas reçu de réponse en temps opportun de la part du serveur amont auquel il a accédé pour terminer la demande.
</p>
</div>
{% endblock %}