{% extends 'base.html.twig' %}

{% block title %}Service non disponible{% endblock %}

{% block content %}
<div class="error">
<p>Il semble y avoir un problème : </p>
<h1 class="m-3">Erreur 503</h1>
<p>Le serveur est actuellement incapable de traiter la demande en raison d'une surcharge temporaire ou de la maintenance du serveur.
</p>
</div>
{% endblock %}